@model IEnumerable<Department>;


@{
    ViewData["Title"] = "Index";
}

<h1>Department</h1>
<table class=" table table-striped table-dark">
    <thead>

        <tr>
            <th scope="col">#</th>
            <th scope="col">ID</th>
            <th scope="col">Name</th>
        </tr>
    </thead>
    <tbody>
        @foreach(var dep in Model){
        <tr>
            <th scope="row">@dep.Id</th>
            <td>@dep.Id</td>
            <td>@dep.Name</td>
        </tr>
       
        }
     
      
    </tbody>
</table>
<center>
    Thank You alot
</center>

