@model ForgetPasswordModel
@{
    ViewData["Title"] = "ForgetPassword";
    Layout = "~/Views/Shared/AuthLayout.cshtml";
}
<form asp-action="ForgetPassword" method="post">
    <div class="form-group first">
   
        <div class="form-check">

            <label class="col-form-label" asp-for="Email">Email</label>
            <input type="text" class="form-control" asp-for="Email">
        </div>
        <br />
        <input type="submit" value="Reset password" class="btn btn-block py-2 btn-primary">
    </div>
 </form>

        

