@model ResetPasswordModel
@{
    ViewData["Title"] = "ResetPassword";
    Layout = "~/Views/Shared/AuthLayout.cshtml";
}
<form asp-action="ResetPassword" method="post">
    <input type="hidden" asp-for="Email" />
    <input type="hidden" asp-for="Token" />
<div class="form-check">

    <label class="col-form-label" asp-for="Password">Password</label>
        <input type="password" class="form-control" asp-for="Password">
</div>

<div class="form-check">
    <label class="col-form-label" asp-for="ConfirmedPassword">Confirmed Password</label>
    <input type="password" class="form-control" asp-for="ConfirmedPassword">
</div>
<br />

<input type="submit" value="Change Password" class="btn btn-block py-2 btn-primary">

</form>