@model SignUpViewModel
@{
    ViewData["Title"] = "SignUp";
    Layout = "~/Views/Shared/AuthLayout.cshtml";
}

<form asp-action="SignUp" method="post">
                <div class="form-group first">
        <div class="form-check">

            <label class="col-form-label" asp-for="Fname">Fname</label>
            <input type="text" class="form-control" asp-for="Fname">
        </div>
        <div class="form-check">

            <label class="col-form-label" asp-for="Lname">Lname</label>
            <input type="text" class="form-control" asp-for="Lname">
        </div>
        <div class="form-check">

            <label class="col-form-label" asp-for="Email">Email</label>
            <input type="text" class="form-control" asp-for="Email">
        </div>

        <div class="form-check">
            <label class="col-form-label" asp-for="Password">Password</label>
            <input type="password" class="form-control" asp-for="Password">
        </div>
        <div class="form-check">
            <label class="col-form-label" asp-for="ConfirmedPassword">Confirm Password</label>
            <input type="password" class="form-control" asp-for="ConfirmedPassword">
        </div>
        <br />


                <input type="submit" value="Sign Up" class="btn btn-block py-2 btn-primary">

                <span class="text-center my-3 d-block">or</span>
                
                
                <div class="">
                <a href="#" class="btn btn-block py-2 btn-facebook">
                  <span class="icon-facebook mr-3"></span> Signup with facebook
                </a>
                <a href="#" class="btn btn-block py-2 btn-google"><span class="icon-google mr-3"></span> Signup with Google</a>
                </div>
</form>
<a asp-action="Login">You have already an Account !</a>
