@model EmployeeDTO;
@{
    var departments = new SelectList(ViewBag.Department, nameof(DepartmentDTO.ID), nameof(DepartmentDTO.Name));
}

<h1>Create new Employee</h1>
<form asp-action="Create">
    <div class="form-check">
   
        <label class="col-form-label" asp-for="Fname">Fname</label>
        <input type="text" class="form-control" asp-for="Fname">
    </div>
    <div class="form-check">
       
        <label class="col-form-label" asp-for="Lname">Lname</label>
        <input type="text" class="form-control" asp-for="Lname">
    </div>
     
    <div class="form-check">

        <label class="col-form-label" asp-for="CivilID_Number">Civil ID</label>
        <input type="text" class="form-control" asp-for="CivilID_Number">
    </div>
    <div class="form-check">

        <label class="col-form-label" asp-for="Phone_Number">Phone Number</label>
        <input type="number" class="form-control" asp-for="Phone_Number">
    </div>
    <div class="form-check">

        <label class="col-form-label" asp-for="Email">Email</label>
        <input type="email" class="form-control" asp-for="Email">
    </div>
 
    <div class="form-check">

        <label class="col-form-label" asp-for="age">Age</label>
        <input type="number" class="form-control" asp-for="age">
    </div>
    <div class="form-check">

        <label class="col-form-label" asp-for="createdAt">Creating Date</label>
        <input type="date" class="form-control" asp-for="createdAt">
    </div>
    <div class="form-check">

        <label class="col-form-label" asp-for="Dep_ID">Creating Date</label>
        <select  class="form-control" asp-items="@departments" asp-for="Dep_ID">
            <option value="IT">
           select Department
            </option>
        </select>
    </div> 
    <div class="form-check">

        <label class="col-form-label" asp-for="ImagePath">Choose Image</label>
        <input type="file" class="form-control" asp-for="ImagePath">
        </input>
    </div>

    <br/>
    <button type="submit" value="Create" class="btn btn-primary">Add new Employee</button>
</form>

